<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>绿景环保官网</title>
	<link rel="stylesheet" href="__PUBLIC__/css/style.css" />
	<link rel="stylesheet" href="__PUBLIC__/css/footer.css" />
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.8.3.js"></script>
	<script type="text/javascript"src="./js/layer.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
</head>
	</head>
	<body>
		
<div class="header">
	<div class="logo" title=""><a href="http://www.wokev.com/"><img src="./image/logo.png"></a></div>
	<div class="tel">
		<p class="b">CONTACT</p>
		<P class="p">400-0123-882</P>
	</div>
	
</div> 
	

		
		<div class="nav">
	<ul>
		

	<li class="style"><a href="index.html">首页</a></li>


		<li class=""><a>机械设备</a>	

			<div class="nav2">

				<a href="terminal/product.php?lang=cn&class2=355"  ><p>机械产品1</p></a>

				<a href="terminal/product.php?lang=cn&class2=356"  ><p>机械产品1</p></a>

				<a href="terminal/product.php?lang=cn&class2=357"  ><p>机械产品1</p></a>

				<a href="terminal/product.php?lang=cn&class2=358"  ><p>机械产品1</p></a>

			</div>
		</li>

		<li class=""><a>材料产品</a>	

			<div class="nav2">

				<a href="panorama/product.php?lang=cn&class2=359"  ><p>机械产品1</p></a>

				<a href="panorama/product.php?lang=cn&class2=360"  ><p>机械产品1</p></a>

			</div>
		</li>

		<li class=""><a>产研基地</a>	

			<div class="nav2">

				<a href="programme/product.php?lang=cn&class2=361"  ><p>产业园理念及愿景</p></a>
				<a href="programme/product.php?lang=cn&class2=361"  ><p>生产线车间介绍及图片</p></a>
				<a href="programme/product.php?lang=cn&class2=361"  ><p>基地生产工艺流程</p></a>
				<a href="programme/product.php?lang=cn&class2=361"  ><p>产业园航拍全景</p></a>

			</div>
		</li>

		<li class=""><a>绿景环保</a>	

			<div class="nav2">

				<a href="about/"  ><p>公司简介</p></a>
				<a href="about/"  ><p>总经理寄语</p></a>

				<a href="about/show.php?lang=cn&id=363"  ><p>人才招聘</p></a>

			</div>
		</li>

		<li class=""><a>动态速递</a>	

			<div class="nav2">

				<a href="contact_us/"  ><p>再生材料循环类国家政策</p></a>

				<a href="contact_us/show.php?lang=cn&id=370"  ><p>行业资讯</p></a>
				<a href="contact_us/show.php?lang=cn&id=370"  ><p>绿景动态</p></a>

			</div>
		</li>

		<li class=""><a href="demo2.html"  target='_blank'>联系我们</a>

			<div class="nav2">

			</div>
		</li>
	</ul>
</div>

