
<include file="Public/top" title = "后台管理~"/>
        <!-- start left -->
               <include file="Public/left" />
         <!-- end left -->
        <div class="row">
        <center><h1>程序信息</h1></center>
        <div class="col-lg-2">
                   
                </div>

                </div>
            <!-- start footer -->
                    <include file="Public/footer" />
            <!-- end footer -->
            </div>
        </div>

        </div>

    </div>
</body>
</html>
